.submit-btn {
    text-transform: uppercase !important;
    outline: 0 !important;
    width: 100% !important;
    border: 0 !important;
    padding: 15px !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    cursor: pointer !important;
    margin-top: 2rem !important;
    background-color: #ce1e4b !important;
}

.submit-btn:hover {
    background-color: #a30a30 !important;
}