.player-card {
    position: relative;
    border-radius: 15px !important;
    width: 85%;
    margin: 0 auto;
}

.player-number {
    background-color: #ce1e4b !important;
}

.player-card-header-title {
    font-size: 13pt !important;
}

.player-card-content {
    padding-bottom: 0 !important;
}

.player-card h5 {
    font-size: 15pt;
    color: black;
    margin-top: 2rem;
    margin-bottom: 5px;
}

.player-card h6 {
    font-size: 11pt;
    color: black;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.player-card .players-photo {
    height: 150px;
}

.player-card .player-stats {
    margin-bottom: 1rem;
    overflow-x: auto;
}

.player-card .player-stats tr {
    height: 30px;
}

.player-card .player-stats th {
    /*background-color: #ce1e4b;*/
    background-color:  #182847;
    color: white;
    font-size: 9pt !important;
}

.player-card .player-stats th, .player-card .player-stats td {
    padding-right: 24px;
}