.content {
    display: flex;
    flex-direction: column;
}

.admin-menu {
    flex-shrink: 0;
    z-index: 1;
}

.admin-menu-nested {
    padding-left: 3em !important;
  }

.admin-menu ul {
    padding-top: 100px;
}

.admin-menu svg {
    color: rgba(0, 0, 0, 0.87);
}

.admin-content {
    flex-grow: 1;
}

.edit-form-wrapper {
    padding: 2em;
}

.edit-form-wrapper input {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}